* {
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: border-box;
}

:root {
  --ff-sans: "Poppins", system-ui, sans-serif;
  --heading: 700 1.5rem/125% var(--ff-sans);
  --text: 400 1rem/150% var(--ff-sans);
  --text-md: 400 0.875rem/170% var(--ff-sans);
  --text-sm: 400 0.75rem/150% var(--ff-sans);
  
  --brand-color: #EF5F4C;
  --bg-color: #FFFFFF;
  --surface-color: #F5F5F5;
  --skeleton-color: #D9D9D9;
  --shape-transparency: #ffffff56;
  --text-color-primary: #313131;
  --text-color-secondary: #6C6C6C;

  --px-lg: 2rem;
  --px-md: 1rem;
  --py-xl: 2rem;
  --py-lg: 1.5rem;
  --py-md: 1.25rem;
  --py-sm: 1rem;
}

html {
  font-family: var(--ff-sans);
  color: var(--text-color-secondary);

  overflow-x: hidden;
  scroll-behavior: smooth;
}

.container {
  background-color: var(--surface-color);
}

header .container {
  padding: 1rem;
}

.logo {
  margin-right: auto;
}

a {
  text-decoration: none;
  appearance: unset;

  font: var(--text);
  color: var(--text-color-secondary);
}  

.menu {
  & span > img {
    width: 1.5rem;
  }

  & .profile-icon {
    width: 2.5rem;
    height: 2.5rem;
  }
}

ul[role="list"] {
  list-style: none;
}

h1 {
  font: var(--heading);
  color: var(--text-color-primary);
  margin-bottom: 0.5rem;
}

footer {
  flex-direction: column;
  padding-inline: var(--px-md);
  padding-block: var(--py-sm);
}

@media (width >= 76em) {
  :root {
    --heading: 700 2rem/125% var(--ff-sans);
  }
  
  & header .container {
    padding-inline: var(--py-xl);
    padding-block: var(--py-md);
  }

  & footer {
    flex-direction: row;
    justify-content: space-between;
    padding-inline: var(--px-lg);
    padding-block: var(--py-lg);
  }
}